__pycache__/
*.pyc
src-tauri/target/*
src-tauri/gen/*
CharacterModels/
data/
GenieData/
.cache/
*.pem
data/uploads/
frontend/public/uploads/
desktop/node_modules/
desktop/dist/

.env
.env.local
config.json
config.local.json
venv/